@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    var path = Model.Input.ProfilePath;
    
}
<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <style>
        #profile-image:hover {
            cursor:pointer;
        }
    </style>
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <label for="Image">
                <div id="profile-image" style="background-image:url('@Url.Content(Model.Input.ProfilePath)');background-position:50% 50%;background-size: cover;background-repeat:no-repeat;border-radius:50%;height:150px;width:150px;">
                    <div id="profile-image-layer" style="display:none;border-radius:50%;background-color:rgba(0,0,0,0.6);width:100%;height:100%;align-items: center;justify-content: center;">
                        <div class="text-center" style="color:white;padding:5px;font-size:14px;">Change Profile Picture</div>
                    </div>
                </div>
            </label>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <input style="display:none;" type="file" asp-for="Image" accept=".png, .jpg, .gif" />
            </div>
            <button type="submit" name="save" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        document.querySelector('input[type=file]').addEventListener('change', function(){
            this.form.submit();
        });

        // Does the profile image hover fx
        $("#profile-image").hover(function () {
            $('#profile-image-layer').css("display", "flex");
        }, function () {
            $('#profile-image-layer').hide();
        });
    </script>
}
