@model IEnumerable<StatisticPresentationModel>

@{
    ViewData["Title"] = "Statistics";
}

<h2>Global Statistics</h2>
<div class="container border">

    @Html.Partial("_StatisticPanelPartial", Model)

</div>

<h2>Team Statistics</h2>
<div class="container border">

    @Html.Partial("_StatisticPanelPartial", Model)

</div>

<h2>Individual Statistics</h2>
<div class="container border">

    @Html.Partial("_StatisticPanelPartial", Model)

</div>
