@model eIDEAS.Models.ApplicationUserPresentationViewModel
@using  eIDEAS.Models.Enums

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Division" />
            <input type="hidden" asp-for="Unit" />
            <input type="hidden" asp-for="Permissions" id="Permissions" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeaPoints" class="control-label"></label>
                <input asp-for="IdeaPoints" class="form-control" />
                <span asp-validation-for="IdeaPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipationPoints" class="control-label"></label>
                <input asp-for="ParticipationPoints" class="form-control" />
                <span asp-validation-for="ParticipationPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoles" class="control-label"></label><br />
                @foreach (int role in (RoleEnum[])Enum.GetValues(typeof(RoleEnum)))
                {
                    var roleName = (RoleEnum)role;
                    <input type="checkbox" id="@role" onchange="editRole(this.id)"
                           @{if (Model.UserRoles.Contains((RoleEnum)role)) { <text> checked</text>
                        }} />
                    @roleName;
                    <br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Update User" class="btn btn-default" onmousedown="setRoles()"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to User List</a>
</div>

@section Scripts{
    <script type="text/javascript">
        function editRole(role) {
            if (document.getElementById(role).checked == true) {//give role                
                document.getElementById("Permissions").value |= (0b1 << (role - 1));
            } else {//take role
                document.getElementById("Permissions").value &= ~(0b1 << (role - 1));
            }
        }

        function setRoles() {
            $.ajax({
                url: '@Url.Action("ChangeRoles", "ApplicationUsers")',
                data: {
                    'roles': document.getElementById("Permissions").value,
                    'id': "@Model.ID"
                },
                type: "POST",
                success: function (result) {
                    if (result == false) {
                        alert("There was an error completing this task.");
                    }
                }
            });
        }
    </script>
}


