
<div id="mySidenav" class="sidenav">
<a asp-area="" asp-controller="Admin" asp-action="Homepage">Homepage</a>
<a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Users</a>
<a asp-area="" asp-controller="Units" asp-action="Index">Units</a>
<a asp-area="" asp-controller="Divisions" asp-action="Index">Divisions</a>
</div>
