@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        @{
            var user = UserManager.GetUserAsync(User);
            var username = user.Result.FirstName;
            var path = user.Result.ProfilePic;
        }
        <a asp-area="Identity" asp-page="/Account/Manage/Index" style="padding: 6px 6px 6px 15px">
            <span>@username</span>
            <img class="img-circle" src="@Url.Content(path)" style="height:40px; margin-right:10px; width:40px;" />
        </a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </form>
    </li>
    <!--</form>-->
}
else
{
    <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
}