    <div class="col-sm-6 container" style="margin-top: 5%;">
        <h2>Welcome to eIDEAS</h2>
        <p class="lead">
            eIDEAS is a tool to help people collaborate and share ideas.
        </p>
        <p class="lead">
            Under the mantra of Kaizen, eIDEAS provides functionality to work through the idea creation and implementation processes.
        </p>
        <p class="lead">
            eIDEAS uses a <b>points</b> system to provide some rewards for collaborating. Current point rewards are structured as follows:
        </p>
        <ul>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="border-color: #337ab7;">
                <b>Creating an idea</b>
                <span class="badge" style="background-color: #337ab7">150 Idea Points</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="border-color: #337ab7;">
                <b>Amending an idea</b>
                <span class="badge" style="background-color: #337ab7">100 Participation Points</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" style="border-color: #337ab7;">
                <b>Scoring an idea</b>
                <span class="badge" style="background-color: #337ab7">50 Participation Points</span>
            </li>
        </ul>
    </div>