@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType="MyIdeas">My Ideas</a></li>
    <li><a asp-area="" asp-controller="Ideas" asp-action="Index" asp-route-filterType="TeamIdeas">Team Ideas</a></li>

    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
}