/* Answer */
.answer {
    padding-left: 30px;
}

/* Body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    height: 100%;    
    width: 100%
}

/* Hovering */
.expand:hover {
    cursor: pointer
}

/* hr */
hr {
    background-color: #888888;
    height: 1px;
    margin: 5px 0px
}

/* Idea overview */
.idea-overview {
    background-color: #EEEEEE;
    border-color: #888888;
    border-width: thin;
    padding: 0px 10px 10px 10px
}

.idea-panel-expand {
    cursor: pointer
}

/* Override margin from bootstrap */
.no-margin {
    margin: 0px
}

/* Override padding from bootstrap */
.no-padding {
    padding: 0px
}

/* Additional progress bar type */
.progress-bar-waiting {
    background-color: #888888;
}

/* Problem Description, Solution Plan and Amendments for an idea */
.problem-description, .solution-plan, .amendment {
    background-color: #FFFFFF;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Question */
.question {
    padding-top: 15px;
}

/* Textarea */
textarea {
    resize: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 30px;
    margin-top: 50px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.03s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .heading-text {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    font-size: 20px;
}
.adminbody{
    padding-left: 250px;
    padding-right: 50px;
}
