/* Answer */
.answer {
    padding-left: 30px;
}

/* Body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    height: 100%;    
    width: 100%
}

/* Hovering */
.expand:hover {
    cursor: pointer
}

/* hr */
hr {
    background-color: #888888;
    height: 1px;
    margin: 5px 0px
}

/* Idea overview */
.idea-overview {
    background-color: #EEEEEE;
    border-color: #888888;
    border-width: thin;
    padding: 0px 10px 10px 10px
}

.idea-panel-expand {
    cursor: pointer
}

/* Override margin from bootstrap */
.no-margin {
    margin: 0px
}

/* Override padding from bootstrap */
.no-padding {
    padding: 0px
}

/* Additional progress bar type */
.progress-bar-waiting {
    background-color: #888888;
}

/* Problem Description, Solution Plan and Amendments for an idea */
.problem-description, .solution-plan, .amendment {
    background-color: #FFFFFF;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Question */
.question {
    padding-top: 15px;
}

/* Textarea */
textarea {
    resize: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #97DBF7;
    border-color: #66C2E8;
    border-right: 1px solid #66C2E8;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 30px;
    margin-top: 50px;
}

    .sidenav > a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #07628A;
        display: block;
        transition: 0.03s;
    }

        .sidenav > a:hover {
            color: #07628A;
        }
.sidenav .heading-text {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    font-size: 20px;
}
.adminbody{
    padding-left: 250px;
    padding-right: 50px;
}

.feature-stats {
    border-style: solid;
    border-radius: 12px;
    background-color: #EEEEEE;
    padding: 5px;
}

.stat-title {
    font-size: 18px;
    font-style: italic;
}

.stat-value {
    font-size: 32px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.site-primary {
    background-color: #063496 !important;
}

/* navbar */
.navbar-default {
    background-color: #063496;
    border-color: #012A82;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #B3CBFF;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .btn-link {
    color: #fff;
    text-decoration: none;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #B3CBFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #B3CBFF;
    cursor: pointer;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0C2B6E;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0C2B6E;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #012A82;
    border-bottom-color: #012A82;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #012A82;
    border-bottom-color: #012A82;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #012A82;
    border-bottom-color: #012A82;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #063496;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #B3CBFF;
    }
}

.nav .dropdown .dropdown-menu {
    background-color: #063496;
    border-color: #012A82;
}

.nav .dropdown .dropdown-menu > li > a {
    color: #fff;
}

.nav .dropdown .dropdown-menu > li > a:hover,
.nav .dropdown .dropdown-menu > li > a:focus {
    background-color: #1949B0;
    border-color: #012A82;
    color: #B3CBFF;
}

.btn-primary, .btn-primary:focus {
    background-color: #063496;
}

.btn-primary:hover {
    background-color: #1949B0;
}

#filter-menu > li:hover {
    background-color: #B3CBFF;
}

#filter-menu > li {
    font-size: 12px;
    padding: 2px 10px;
}

.clearinput {
    float: right;
    margin-right: 6px;
    margin-top: -23px;
    position: relative;
    z-index: 10;
    color: red;
}

.clearinput:hover {
    color: #820000;
}

.modal-content {
    padding: 10px;
}

.modal-dialog {
    top: 20%;
}