/* Body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    height: 100%;    
    width: 100%
}

/* Hovering */
.expand:hover {
    cursor: pointer
}

/* hr */
hr {
    background-color: #888888;
    height: 1px;
    margin: 5px 0px
}

/* Idea overview */
.idea-overview {
    background-color: #EEEEEE;
    border-color: #888888;
    border-width: thin;
    padding: 0px 10px 10px 10px
}

/* Override margin from bootstrap */
.no-margin {
    margin: 0px
}

/* Override padding from bootstrap */
.no-padding {
    padding: 0px
}

/* Problem Description and Solution Plan for an idea */
.problem-description, .solution-plan {
    background-color: #FFFFFF;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Textarea */
textarea {
    resize: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
