@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div>
    <ul class="list-inline">
        <li>
            <a class="headericons" href="https://vimeo.com/ehealthsk" target="_blank">
                vimeo
                
            </a>
        </li>
        <li>
            <a class="headericons" href="https://www.facebook.com/EHealthSaskatchewan" target="_blank">
                facebook
                
            </a>
        </li>
        <li>
            <a class="headericons" href="https://twitter.com/ehealthsask" target="_blank">
                twitter
                
            </a>
        </li>
        <li>
            <a class="headericons" href="https://www.linkedin.com/company/ehealth-saskatchewan" target="_blank">
                linkedin
               
            </a>
        </li>
    </ul>
    We're here to help. If you have a question about a program or service, contact us using one of the options below.

    ​You can connect with us during regular business hours. Our regular hours are Monday to Friday (excluding Statutory Holidays) between 8am until 5pm, Central Time.

    <br /><br /></br><strong>Address</strong>
    <address>
        ​2130 11th Avenue<br />
        Regina, Saskatchewan<br />
        S4P 0J5<br />
    </address>

    <address>
        <strong>General questions email</strong> <a href="​vitalstatistics@eHealthSask.ca">​vitalstatistics@eHealthSask.ca</a><br />

    </address>
