@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
We're here to help. If you have a question about a program or service, contact us using one of the options below.

​You can connect with us during regular business hours. Our regular hours are Monday to Friday (excluding Statutory Holidays) between 8am until 5pm, Central Time.

<br /><br /></br><strong>Address</strong>
<address>
    ​2130 11th Avenue<br />
    Regina, Saskatchewan<br />
    S4P 0J5<br />
</address>

<address>
    <strong>General questions email</strong> <a href="​vitalstatistics@eHealthSask.ca">​vitalstatistics@eHealthSask.ca</a><br />
    
</address>
