@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>

<h4 class="question">What is eIDEAS?</h4>
<p class="answer">
    eIDEAS is a tool to help people collaborate and share ideas.<br/>
    Under the mantra of Kaizen, eIDEAS provides functionality to work through the idea creation and implementation processes
</p>

<h4 class="question">How does the point system work?</h4>
<p class="answer">
    There are two type of points: idea points and participation points.<br/>
    Creating an idea gives 150 idea points.<br/>
    Amending an idea gives 100 participation points.<br/>
    Rating an idea gives 50 participation points.
</p>