@model eIDEAS.Models.UnitDivision

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Division Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.division.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.unit.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unit.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.unit.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
