@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Leaderboard</h2>
<div class="row">
    <div class="col-md-6" style="float: left">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Idea Points</th>
                <th>Participation Points</th>
            </tr>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.IdeaPoints</td>
                <td>@user.ParticipationPoints</td>
            </tr>
            }
        </table>
    </div>
    <div>
        <h3>This is where a graph of points/time will go</h3>
    </div>
    <div>
        <h3>This is where a pie chart of contributions will go</h3>
    </div>
</div>
