@model HomePresentationViewModel
@using eIDEAS.Models.Enums
@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Admin Panel</h2>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h4>What's New</h4>
        <label>Title:</label>
        <input class="form-control" type="text" id="WhatsNewTitle" />
        <label>Story:</label>
        <textarea class="form-control" id="WhatsNewText" rows="10"></textarea>
        <button class="btn btn-primary" onclick="updateWhatsNew()" style="margin-top: 10px;">Add</button>
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>Success Stories</h4>
        <label>Title:</label>
        <input class="form-control" type="text" id="SuccessTitle" />
        <label>Story:</label>
        <textarea class="form-control" id="SuccessText" rows="10"></textarea>
        <button class="btn btn-primary" value="Add" onclick="updateSuccessStory()" style="margin-top: 10px;">Add</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
         function updateWhatsNew() {
            var title = document.getElementById("WhatsNewTitle").value;
             var text = document.getElementById("WhatsNewText").value;

             if (text == "") {
                 return;
             }

            $.ajax({
                url: '@Url.Action("HomepageUpdate", "Admin")',
                type: "POST",
                data: { 'title': title, 'text': text , 'type': '@MessageEnum.WhatsNew'},
                success: function (result) {
                    console.log(JSON.stringify(result));
                    document.getElementById("WhatsNewTitle").value = "";
                    document.getElementById("WhatsNewText").value = "";
                    alert("What's new story added.");
                },
                error: function (result) {
                    console.log("Error");
                }
            });
        }
        function updateSuccessStory() {
            var title = document.getElementById("SuccessTitle").value;
            var text = document.getElementById("SuccessText").value;

            if (text == "") {
                return;
            }

            $.ajax({
                url: '@Url.Action("HomepageUpdate", "Admin")',
                type: "POST",
                data: { 'title': title, 'text': text , 'type': '@MessageEnum.SuccessStory'},
                success: function (result) {
                    console.log(JSON.stringify(result));
                    document.getElementById("SuccessTitle").value = "";
                    document.getElementById("SuccessText").value = "";
                    alert("Success story added.");
                },
                error: function (result) {
                    console.log("Error");
                }
            });
        }
    </script>
}

