
@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homepage</h2>

Here is where you will be able to update the success stories and whats new sections

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h4>What's New</h4>
        <textarea></textarea>
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>Success Stories</h4>
        <textarea></textarea>
    </div>
</div>
